/*--- page ---*/

body {
	color: rgb(252, 248, 248);
    	background: #bebebe url("images/bacteria.png") no-repeat content-box fixed; 
	background-size: cover;
	color: rgb(36, 36, 36);
    	padding: 0;
    	font-family: Georgia, 'Times New Roman', Times, serif;
    	font-size: 90%;
    	margin: 0px;
    	text-align: center;
}

/*--- navigation bar ---*/

.navbar {
	background: #205502;
}

.nav-link,
.navbar-brand {
	color: #fff;
	cursor: pointer;
}

.nav-link {
	margin-inline: 1em !important;
}

.nav-link:hover {
	color: #000;
}

.navbar-collapse {
	justify-content: flex-end;
}

/*--- main header ---*/
.header {
	background-image: url('images/bacteria1.png') no-repeat content-box fixed;
	background-size: cover;
	background-position: center;
	position: relative;
}
.overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
} 
.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: relative;
}
.description h1 {
	color: #6ab446;
}
.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}

/*--- projects section ---*/
.features {
	margin: auto;
	padding: 8em;
	position: relative;
	background-size: cover; 
}
.feature-title {
	color: rgb(245, 244, 244);
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}
.features .form-control,
.features input {
	border-radius: 0;
} 
.features .btn {
	background-color: #589b37;
	border: 1px solid #589b37;
	color: #fff;
	margin-top: 20px;
}
.features .btn:hover {
	background-color: #333;
	border: 1px solid #333;
}

/*--- personnel section ---*/
.background {
	/*background: url("images/bacteria.png") no-repeat content-box fixed;*/
    	background-position: center;
	background-size: cover;
	padding: 4em 0;
}
.team {
	color: #f1ecec;
	padding: 0 10px;
}
.team .card-columns {
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
}
.team .card {
	background: none;
	border: none;
}
.team .card-title {
	font-size: 1rem;
	margin-bottom: 0;
	text-transform: uppercase;
}

/*--- footer section---*/
.page-footer {
    background: #222;
	background-color: rgb(228, 226, 226);
	background-position: center;
	color: rgb(246, 242, 242);
	padding: 60px 0 30px;
}
.footer-copyright {
	color: rgb(247, 244, 244);
	background-position: center;
	padding: 40px 0;
}

